body {
  font-family: sans-serif;
  text-align: center;
  background: #f2f2f2;
}

#messages {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
  background: white;
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ccc;
}

#form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#input {
  width: 60%;
  padding: 10px;
}
